.main_page {
    position: relative;
    margin-bottom: 1370px;
}

.main_page_table {
    justify-content: center;
    display: flex;
    padding: 10px 0;
    position: relative;
    opacity: 0;
    animation: showImg 1s linear forwards;
    animation-delay: 0.5s;
}

.main_page_table_about {
    border-radius: 10px;
    padding: 20px 0;
    display: flex;
    background-color: #F2F5F7;
}

.main_page_table_to p {
    background-color: #F2F5F7;
    padding: 0 15px;
}

.main_page_wrapper {
    height: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.main_page_header {
    align-items: center;
    animation: anim 3s;
    position: relative;
    opacity: 0;
    animation: showImg 1s linear forwards;
}

@keyframes showImg {
    100% {
        opacity: 1;
    }
}

.button {
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
    opacity: 0;
    animation: showImg 1s linear forwards;
    animation-delay: 1s;
}

.main_page_pictures {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.main_page_macbook {
    position: absolute;
    margin-left: 150px;
    display: flex;
    position: relative;
    opacity: 0;
    animation: showImg 1s linear forwards;
    animation-delay: 1.5s;
}

.main_page_iphone img {
    position: absolute;
    top: 160px;
    left: 1px;
    opacity: 0;
    animation: showImg 1s linear forwards;
    animation-delay: 2s;
    float: left;
    background-color: rgba(0, 0, 0, 0);
}

.button {
    padding: 20px 0;
}

.button button {
    font-size: 17px;
    font-weight: 600;
    outline: none;
    width: 280px;
    height: 65px;
    border-radius: 14px;
    border: none;
    background-color: #42f590;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.8s ease;
}

.button:hover button {
    background-color: #1fd675;
    color: #ffffff;
    transition: all 0.8s ease;
}

.graphics_header {
    display: flex;
    border-bottom: 1px solid #dddbdb;
}

label:active {
    color: black;
}

.graphics_header label:hover {
    color: black;
    cursor: pointer;
}

.result_invest {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.result_ipo {
    margin-left: auto;
}

.result_pre_ipo {
    margin-left: 30px;
}

.result_ipo label {
    color: #176CD4;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.result_pre_ipo label {
    color: #176CD4;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.graphics {
    margin-bottom: 110px;
}

.header_two_part h1 {
    font-size: 30px;
    text-align: left;
}

.container_two_part {
    width: 710px;
    font-size: 15px;
}

.header_two_parttwo {
    margin-bottom: 60px;
    width: 710px;
    font-size: 15px;
}

.header_two_parttwo h1 {
    font-size: 30px;
    text-align: left;
}

.header_two_partthree {
    margin-bottom: 30px;
    width: 960px;
    font-size: 15px;
}

.header_two_partthree h1 {
    font-size: 30px;
    text-align: center;
}

.container_ava {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.container_ava_1 {
    margin-right: 26px;
    height: 220px;
    width: 220px;
    border-radius: 50%;
    background-color: #eeebeb;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_ava_2 {
    margin-right: 10px;
    height: 250px;
    width: 25%;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #eeebeb;
}

.container_ava_3 {
    border-radius: 50%;
    margin-right: 10px;
    height: 250px;
    width: 25%;
    border: 1px solid black;
    background-color: #eeebeb;
}

.container_ava_4 {
    margin-right: 10px;
    height: 250px;
    width: 25%;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #eeebeb;
}

.ava_1 {
    background-color: #eeebeb;
}

.ava_1 img {
    left: 0;
    background-color: #eeebeb;
    height: 200px;
    width: 200px;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

.ava_1 img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.ava_text_name {
    margin-top: 5px;
    text-align: center;
    color: #176CD4;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
}

.ava_text_position {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.container_ava_full_1 {
    cursor: pointer;
}

.book {
    width: 152px;
    height: 280px;
}

.fullbookf {
    font-weight: 100;
    width: 300px;
}

.fullbooks {
    font-weight: 100;
    width: 300px;
}

.fullbookt {
    font-weight: 100;
    width: 300px;
}

.fullbooke {
    font-weight: 100;
    width: 235px;
}

.flexallbook {
    display: flex;
    margin-bottom: 60px;
}

.descr {
    cursor: pointer;
    margin-top: 10px;
}

.flexallbook img {
    cursor: pointer;
    transition: all 0.8s ease;
}

.fullbookf:hover img {
    transform: rotate3d(0, 2, 0, 20deg);
    transition: all 0.8s ease;
}

.fullbooks:hover img {
    transform: rotate3d(0, 2, 0, 20deg);
    transition: all 0.8s ease;
}

.fullbookt:hover img {
    transform: rotate3d(0, 2, 0, 20deg);
    transition: all 0.8s ease;
}

.fullbooke:hover img {
    transform: rotate3d(0, 2, 0, 20deg);
    transition: all 0.8s ease;
}

.fullbookf:hover h4 {
    color: #3571bf;
    transition: all 0.8s ease;
}

.fullbooks:hover h4 {
    color: #439a63;
    transition: all 0.8s ease;
}

.fullbookt:hover h4 {
    color: #7b33d9;
    transition: all 0.8s ease;
}

.fullbooke:hover h4 {
    color: #b44545;
    transition: all 0.8s ease;
}

.questions {
    color: #176CD4;
    font-weight: bold;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.soco {
    margin-right: 20px;
    display: flex;
}

.socs {
    margin-right: 20px;
    display: flex;
}

.soct {
    display: flex;
}

.socs img {
    width: 35px;
}

.sss {
    padding-top: 2px;
    margin-left: 7px;
}