.header{
    width: 1200px;
    padding: 2px 0;
    /*border: 2px solid black;*/
    display: flex;
    position: fixed;
    z-index: 1;
    height: 80px;
    opacity: 0.99;
    border-bottom: 1px solid #f3f3f3;
}
.name-site{
    margin-left: 7px;
    height: 40px;
}
.name-site p{
    padding: 0;
    font-family: Geometria;
    font-size: 16px;
    font-weight: bold;
    color: black;
}
.header_main-menu{
    display: flex;
    margin: 0 auto;
    align-items: center;
}

li{
    margin: 0 10px;
    list-style-type: none;
    display:inline-block;
}

li a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    font-family: Geometria, sans-serif;
    color: #000000;
}

.main-logo{
    width: 184px;
    display: flex;
    align-items: center;
}
.logo img {
    padding-top: 7px;
    width: 50px;
}

a.current{
    border-bottom: 2px solid #42f590;
}

.link-hover-solid a:hover{
    border-bottom: 2px solid #42f590;
}

.main-menu a{
    padding: 5px;
    margin: 0;
}

