.container_graphics{
    position: relative;
    /*border: 1px solid black;*/
    width: 960px;
    height: 380px;
    margin-top: 10px;
    border-bottom: 1px solid #c3c1c1;
}

.container_graphics_text{
    position: absolute;
    top: 30px;
    left: 0;
    /*border: 1px solid black;*/
    height: 240px;
    width: 360px;
    font-family: sans-serif;
    font-weight:bold;
    font-size: 16px;
}
.container_graphics_text p{
    margin-top: 10px;
    color: black;
}

.container_graphics_pokaz{
    position: absolute;
    /*border: 1px solid black;*/
    top: 340px;
    color: #a4a2a2;
    font-family: Geometria-Light, sans-serif;
    font-size: 12px;
}

.container_graphics_2015{
    position: absolute;
    bottom: 0;
    margin-left: 150px;
    width: 200px;
    height: 50px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    background-color: rgba(23, 109, 247, 0.7);
}

.container_graphics_2015_text1{
    background-color: rgba(0,0,0,0);
    color: white;
    text-decoration: underline;
    font-size: 15px;
    font-family: sans-serif;
    float: left;
    padding: 10px;
}

.container_graphics_2015_text2{
    background-color: rgba(0,0,0,0);
    color: white;
    font-weight:bold;
    font-size: 25px;
    float: right;
    padding: 10px;
}

.container_graphics_2015_text3{
    margin-top: 70px;
    font-size: 16px;
    font-weight:bold;
}

.container_graphics_2015:hover{
    background: #3c6bee;
    transition: all 0.8s ease;
    cursor: pointer;
    color: #3c6bee;
}

.container_graphics_2016{
    position: absolute;
    bottom: 0;
    margin-left: 353px;
    height: 250px;
    width: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: center;
    background-color: rgba(23, 109, 247, 0.7);
}

.container_graphics_2016_text3{
    margin-top: 270px;
    font-size: 16px;
    font-weight:bold;
}

.container_graphics_2016:hover{
    background: #3c6bee;
    transition: all 0.8s ease;
    cursor: pointer;
    color: #3c6bee;
}

.container_graphics_2017{
    position: absolute;
    bottom: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 556px;
    height: 130px;
    width: 200px;
    text-align: center;
    background-color: rgba(23, 109, 247, 0.7);
}

.container_graphics_2017_text3{
    margin-top: 150px;
    font-size: 16px;
    font-weight:bold;
}

.container_graphics_2017:hover{
    background: #3c6bee;
    transition: all 0.8s ease;
    cursor: pointer;
    color: #3c6bee;
}

.container_graphics_2018{
    position: absolute;
    bottom: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    right: 0;
    height: 248px;
    width: 200px;
    text-align: center;
    background-color: rgba(23, 109, 247, 0.7);
}

.container_graphics_2018_text3{
    margin-top: 268px;
    font-size: 16px;
    font-weight:bold;
}

.container_graphics_2018:hover{
    background: #3c6bee;
    transition: all 0.8s ease;
    cursor: pointer;
    color: #3c6bee;
}