.idea_list-cards{
    margin-bottom: 60px;
    display: grid;
    grid-template-areas:
    "card card card";
    grid-gap: 30px;
}

.idea_cards{
    position: relative;
    padding: 30px;
    height: 430px;
    background-color: #F2F5F7;
    border-radius: 10px;
    cursor: pointer;
    color: #000;
    perspective: 300px;
    text-align: center;
}