* {
    box-sizing: border-box;
}

.loginBlock {
    width: 251px;
    float: right;
    display: flex;
    align-items: center;
    position: relative;
}

.inline {
    display: flex;
    align-items: center;
}

.loginBlock {
    align-items: center;
    position: absolute;
    right: 0;
}

.login {
    font-family: Geometria-Light, sans-serif;
    background-color: #f2f4f7;
    width: 73px;
    height: 43px;
    color: #000000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 15px;
    outline: none;
    border: 0;
    cursor: pointer;
    margin-right: 1px;
}

.registration{
    font-family: Geometria-Light, sans-serif;
    background-color: rgba(49, 135, 238, 0.1);
    color: #176CD4;
    width: 110px;
    height: 43px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 15px;
    outline: none;
    border: 0;
    cursor: pointer;
}

.addMoney {
    cursor: pointer;
    margin-right: 30px;
    color: #176CD4;
    font-size: 20px;
    background-color: rgba(23, 108, 212, 0.12);
    outline: none;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 0;
}

.loginWord {
    color: #000000;
}

button.addMoney:hover {
    background-color: rgba(23, 108, 212, 0.24);
}

.logo {
    padding-top: 2px;
    margin-right: 10px;
    border-radius: 50%;
    width: 50px;
}

.price {
    margin-right: 5px;
    font-family: Geometria;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
}

.modal_wrapper{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal_backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0.3,0,0,0.3);
}

.modal_box{
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 564px;
    width: 430px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    z-index: 101;
    padding: 40px;
}
.modalbutton {
    font-family: Geometria;
    color: white;
    padding-bottom: 5px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    float: right;
    background-color: #42f590;
    border: 0;
    outline: none;
    width: 30px;
    height: 30px;
}
.entryparagraph {
    font-family: Consolas;
    font-size: 36px;
    font-weight: 600;
}
.regparagraph {
    font-family: Geometria, sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding-left: 20px;
    padding-top: 10px;
    color: #42f590;
    cursor: pointer;
}
.entryreg {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.entrybutton {
    font-family: Geometria;
    font-size: 15px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    background-color: #42f590;
    border-radius: 10px;
    outline: none;
    border: 0;
    width: 70px;
    height: 40px;
}

.regbutton{
    font-family: Geometria;
    font-size: 14px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    background-color: #42f590;
    border-radius: 10px;
    outline: none;
    border: 0;
    width: 110px;
    height: 40px;
}