* {
    box-sizing: border-box;
}

.loginBlock {
    width: 251px;
    float: right;
    display: flex;
    align-items: center;
    position: relative;
}

.inline {
    display: flex;
    align-items: center;
}

.loginBlock .login {
    align-items: center;
    position: absolute;
    right: 0;
}

.login {
    font-family: Geometria-Light, sans-serif;
    background-color: #f2f4f7;
    width: 73px;
    height: 40px;
    color: #000000;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
    border: 0;
    cursor: pointer;
}

.addMoney {
    cursor: pointer;
    margin-right: 30px;
    color: #176CD4;
    font-size: 20px;
    background-color: rgba(23, 108, 212, 0.12);
    outline: none;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 0;
}

.loginWord {
    color: #000000;
}

button.addMoney:hover {
    background-color: rgba(23, 108, 212, 0.24);
}

.logo {
    padding-top: 2px;
    margin-right: 10px;
    border-radius: 50%;
    width: 50px;
}

.price {
    margin-right: 5px;
    font-family: Geometria;
    color: #000000;
    font-weight: 400;
    font-size: 15px;
}

.modal_wrapper{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal_backdrop{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(0,0,0,0.3);
}

.modal_box{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 30%;
    width: 60%;
    background-color: white;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    z-index: 101;
    padding: 40px;
}