* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  position: relative;
  min-height: 100vh;
}

.wrapper {
  width: 1250px;
  padding: 0 25px;
  margin: 0 auto;
}

.header{
  width: 1250px;
  padding: 22px 0;
  border: 2px solid black;
  display: flex;
}

.header_main-menu{
  display: flex;
  margin: 0 auto;
  align-items: center;
}

li{
  margin: 0 10px;
  list-style-type: none;
  display:inline-block;
}

