* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.container {
  position: relative;
  min-height: 100vh;
}

.app-wrapper {
  width: 1250px;
  padding: 0 25px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "h"
  "c";
}

.app-wrapper_content{
  grid-area: c;
  border: 2px solid blue;
}

