.idea_cards {
    margin-top: 10px;
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #F2F5F7;
    border-radius: 10px;
    padding: 30px 40px;
    cursor: inherit;
    color: #000;
    perspective: 300px;
    margin-bottom: 65px;
}

.back a{
    text-decoration: none;
    color: #a4a7a9;
}

.idea_cards:hover button {
    background-color: #3c6bee;
    color: #ffffff;
    transition: all 0.8s ease;
}

.inline {
    display: flex;
    justify-content: space-between;
    background-color: #F2F5F7;
    margin-bottom: 10px;
}

.logodescname {
    display: flex;
    background-color: #F2F5F7;
}

.namedesc {
    background-color: #F2F5F7;
    padding-left: 15px;
    height: 50px;
}

.typerisk {
    height: 10px;
    padding: 0 14px;
    display: flex;
    background-color: #F2F5F7;
}

.irisk {
    margin-top: 2px;
    float: right;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ece3c7;
    cursor: pointer;
}

.itype {
    font-family: Geometria, sans-serif;
    color: #000000;
    letter-spacing: 1.3px;
    font-size: 13px;
    background-color: #F2F5F7;
    font-weight: bold;
    text-transform: uppercase;
    width: 35px;
}

.ilogo {
    background-color: #F2F5F7;
    display: flex;
}

.ilogo img {
    background-color: #F2F5F7;
    display: inline-block;
    width: 75px;
}

.iname {
    display: flex;
    background-color: #F2F5F7;
    font-size: 30px;
    line-height: normal;
    font-weight: bold;
    color: #000;
    font-family: sans-serif;
}

.idescription {
    background-color: #F2F5F7;
    font-family: Geometria;
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 25px;
}
.allgraph {
    height: 120px;
    width: 100%;
    align-items: center;
    position: relative;
    background-color: #F2F5F7;
}
.allgraph .qqq{
    background-color: #F2F5F7;
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}
.first {
    font-size: 14px;
    text-align: center;
    margin-top: 70px;
    bottom: 0;
    width: 200px;
    height: 20px;
    background-color: #e3e3e3;
}
.second {
    font-size: 14px;
    text-align: center;
    margin-top: 40px;
    margin-left: 5px;
    bottom: 0;
    width: 200px;
    height: 50px;
    background-color: #e3e3e3;
}
.third {
    text-align: center;
    font-size: 14px;
    margin-left: 5px;
    bottom: 0;
    width: 200px;
    height: 90px;
    background-color: #e3e3e3;
}
.iline {
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.05);
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.ipricestart {
    background-color: #F2F5F7;
    display: flex;
}

.iprice {
    text-align: left;
    font-family: Geometria;
    font-size: 14px;
    font-weight: 600;
    color: #999999;
    width: 156px;
    background-color: #F2F5F7;
}

.iprices {
    text-align: left;
    background-color: #F2F5F7;
    color: #000000;
}

.istart {
    font-size: 14px;
    text-align: left;
    font-family: Geometria;
    font-weight: 600;
    color: #999999;
    width: 95px;
    background-color: #F2F5F7;
}

.istarts {
    text-align: left;
    background-color: #F2F5F7;
    color: #000000;
}

.toinvest {
    font-size: 30px;
    line-height: normal;
    font-weight: bold;
    color: #000;
    font-family: sans-serif;
    margin-bottom: 35px;
}

.ibutton button {
    font-family: Geometria;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    width: 240px;
    height: 40px;
    border-radius: 14px;
    border: none;
    background-color: #42f590;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.8s ease;
}

.ibutton:hover button {
    background-color: #0be272;
    color: #ffffff;
    transition: all 0.8s ease;
}

